.main {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 100vw;
}

.img_banner {
    display: none;
}

.destaque {
    width: 100vw;
    margin: 0;
}

.txt_destaque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 65vh;
    padding: 0 2vw;
    background-color: white;
    color: black;
}

.destaque_txt {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.experiencias {
    width: 100vw;
}

.titulo_card {
    text-align: center;
    font-size: xx-large;
    margin: 4vw;
    border-bottom: 3px solid gold;
    padding: 5px;
}

.txt_card {
    text-align: center;
    margin: 0 10vw;
}

@media (min-width: 768px) {
    
    .txt_destaque{
        width: 50vw;
    }

    .destaque {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img_banner {
        display: block;
        width: 50%;
        max-height: 65vh;
    }

    .cards {
        display: flex;
        flex-direction: row;
        margin: 2vw;
        justify-content: center;
    }
}
